@{
    ViewBag.Title = "NoteMaker";
}
<div>
    Here we will place details of what this website is about.  All the content currently on this page will move to another view
    <p>@Html.ActionLink("Notes","Notes")</p></div>
